/backup*
.idea
*.bak
*.tmp
dbConnection.php
/photos/*/T1*.jpg
/photos/*/T2*.jpg
/photos/*/T3*.jpg
/photos/*/T09*.jpg
/photos/*/T08*.jpg
/photos/*/T07*.jpg
/photos/*/T06*.jpg
/photos/*/T05*.jpg
/photos/*/T04*.jpg
/photos/*/T03*.jpg
/photos/*/T02*.jpg
/photos/*/T01*.jpg
sshKeyGitHub*
/presentation/backup*
/presentation/ressources
/ressources
/zMenuMobile
/ztodelete